<div ng-controller="youtubeCtrl">
  <h1><a id="buttom" ng-click="castFile()">Buttom</a></h1>

  {{screen}}

  <span ng-model="screen">&nbsp;</span>
  <ul id="messages"></ul>
  <form action="">
    <input id="m" autocomplete="off" />
    <button>Send</button>
  </form>
</div>
